<div class="viewframe">
	<h3>products</h3>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Delete Product...</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to delete the product from the list?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" id="okDelete" class="btn btn-primary">Ok</button>
				</div>
			</div>
		</div>
	</div>
	<div ng-repeat="item in products" >
		<select-product product='item' product-remove="productRemove"></select-product>
	</div>
</div>